{% extends 'layout.html' %}

{% block title %}
<title>Welcome to Plant swapper</title>
{% endblock %}

{% block header %}
  Discover our plants
{% endblock %}

{% block body %}

{% if plants|length < 1 %}
<h3 class="text-center mt-5">No plants added yet</h3>
<h3 class="text-center text-uppercase">
  <a type="button" class="btn btn-success mt-2" href="{{url_for('new_plant')}}">ADD FIRST PLANT</a>
</h3>

{% else %}

{% for plant in plants %}
<div>
    <div>Plant: {{ plant.id }}</div>
    <div>Added: {{ plant.date_added }}</div>
    <div>Content: {{ plant.content }}</div>
    <a href="/delete/{{ plant.id }}"> Delete </a>
    <a href="/update/{{ plant.id }}"> Update </a>
</div>
{% endfor %}

{% endif %}

{% endblock %}
