{% extends 'layout.html' %}

{% block title %}
<title>Plant swapper</title>
{% endblock %}

{% block body %}
<h1>Plant swapper!</h1>

{% if plants|length < 1 %}
<h4>No plants added.</h4>

{% else %}

{% for plant in plants %}
<div>
    <div>Plant: {{ plant.id }}</div>
    <div>Added: {{ plant.date_added }}</div>
    <div>Content: {{ plant.content }}</div>
    <a href="/delete/{{ plant.id }}"> Delete </a>
    <a href="/update/{{ plant.id }}"> Update </a>
</div>
{% endfor %}

{% endif %}

<form action="/plants-listing" method="POST">
  <input type="text" name="content" id="content" />
  <input type="submit" value="Add plant" />
</form>
<a href="{{url_for('logout')}}">Press here to logout</a>
{% endblock %}