{% extends 'layout.html' %}

{% block title %}
	Reset password
{% endblock %}

{% block header %}
Reset password
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			{% if error %}
				<p class="text-error">{{ error }}</p>
			{% endif %}
			<div class="col-lg-4 col-md-6 col-sm-8 text-center">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<div class="mb-3">
                        <p class="h5">Please give your email address.</p>
                        <p class="small">If the address exists in the database, 
                            you will receive an email to reset your password.</p>
						{{ form.email }}
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-success">Send me email to reset my password</button>
					</div>
				</form>
			</div>
			<p class="text-center">Don't have the account? <a href="{{url_for('register')}}">Register here</a></p>
		</div>
	</div>
{% endblock %}
